*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Card{
  max-width: 800px;
  padding: 1rem;
  margin: 0 auto;
  display: grid;

  grid-gap: 1rem;

}

.img{
  
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
     box-shadow: 1px 1px 8px rgb(0, 0, 0,0.5);
 
}

@media screen and ( min-width: 800px) {
  .Card{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-height: 100vh;
    grid-template-areas:
    "img0 img1 img1"
    "img6 img2 img4"
    "img6 img8 img4"
    "img7 img8 img5";
  }

  .imgArray0{
    grid-area: img0;
  }
  .imgArray1{
    
    grid-area: img1;
  }.imgArray2{
    grid-area: img2;
  }
 
 .imgArray3{
  grid-area: img3;
  }


  .imgArray4{
    grid-area: img4;
    
  }
  .imgArray5{
    grid-area: img5;
  }
  
  .imgArray6{
    grid-area: img6;

  }
  .imgArray7{
    grid-area: img7;
  }
  .imgArray8{
    grid-area: img8;
  }

}